<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
						
	<!-- context:component 설정으로하단의 bean 안의 설정들을 등록하지 않고 
	자동으로 스프링 컨테이너에서 클래스패스에 있는 클래스들을 스캔하여 @Component가 설정된 클래스들을 객체 생성한다. -->					
	<context:component-scan base-package="polymorphism"></context:component-scan>
	<!-- Lg TV 설정 -->
	<bean id="tv" class="polymorphism.LgTV">
	
	</bean>
	<!-- Sony Speaker 설정 -->
	<bean class="polymorphism.SonySpeaker"></bean>
	<!-- Apple Speaker 설정  -->
	<!-- <bean id="apple" class="polymorphism.AppleSpeaker"></bean> -->
	<!-- 
		의존성 주입 3. setter로 의존성 주입, p 네임스페이스 사용하기
	<bean id="tv" class="polymorphism.SamsungTV" init-method="initMethod" 
	destroy-method="destroyMethod" lazy-init="true" scope="singleton"
	p:speaker-ref="sony" p:price="2700000"></bean>
	
		의존성 주입 1. 기본
	<bean id="tv" class="polymorphism.SamsungTV" init-method="initMethod" 
	destroy-method="destroyMethod" lazy-init="true" scope="singleton">
		<constructor-arg index="0" ref="apple"></constructor-arg>
		<constructor-arg index="1" value="2700000"></constructor-arg>
		의존성 주입 2 .setter로 의존성 주입, name값의 맨 앞 문자를 대문자로 바꾸고 
		그 앞에 set을 붙인것이 property에서 호출할 set method 판별법이다.
		<property name="speaker" ref="apple"></property>
		<property name="price" value="2700000"></property>
	</bean>
	<bean id="sony" class="polymorphism.SonySpeaker" lazy-init="true"></bean>
	<bean id="apple" class="polymorphism.AppleSpeaker" lazy-init="true"></bean>
	
	       Collection 객체 설정 부분     
	<bean id="collectionBean" 
			class="com.springbook.ioc.inection.CollectionBean" lazy-init="true">
			<property name="addressList">
				<list>
					<value>서울시 영등포구 양평동</value>
					<value>서울시 영등포구 당산동</value>
				</list>
			</property>
			<property name="addressSet">
				<set value-type="java.lang.String">
					<value>서울시 강서구 화곡동</value>
					<value>서울시 강서구 방화동</value>
				</set>
			</property>
			<property name="addressMap">
				<map>
					<entry>
						<key><value>고길동</value></key>
						<value>서울시 서초구 양재동</value>
					</entry>
					<entry>
						<key><value>고희동</value></key>
						<value>서울시 서초구 서초동</value>
					</entry>
				</map>
			</property>
			
			       properties 객체 설정 부분     
			<property name="addressProp">
				<props>
					<prop key="마이콜">서울시 강남구 역삼동</prop>
					<prop key="둘리">서울시 강남구 수서동</prop>
				</props>
			</property>
	</bean>
 -->
	
</beans>
